<h3>HouseHold Appliances</h3>
<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="powerInputOn">
      <th mat-header-cell *matHeaderCellDef> Power Input On </th>
      <td mat-cell *matCellDef="let element"> {{element.powerInputOn}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="powerInputOff">
      <th mat-header-cell *matHeaderCellDef> Power Input Off </th>
      <td mat-cell *matCellDef="let element"> {{element.powerInputOff}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef> Duration </th>
      <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
