.container
  margin-top: 2rem
  .grid-container
    display: grid
    grid-template-columns: 1fr 1fr
    grid-column-gap: 1rem
    grid-row-gap: 1rem
    overflow: scroll
    @media (max-width: 700px)
      grid-template-columns: 1fr

    div
      overflow: scroll