<!-- <div class="col-md-6 user-container">
  <h2 style="margin: auto"> All Details</h2>
  <div *ngFor="let item of data && data">
    <h1>{{item.type}}</h1>
    <h2>{{item.simName}}</h2>
    <h2>HouseHold Availabilities</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Activity</th>
          <th>Start</th>
          <th>End</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let activity of item.availabilities[0].activities">
          <td>{{activity.name}}</td>
          <td>{{getTime(activity.start.$date)}}</td>
          <td>{{activity.end.$date}}</td>
        </tr>
      </tbody>
    </table>
    <app-load-curve [resultLoadCurve]=item.resultLoadCurve></app-load-curve>


    <app-appliances [appliances]=item.appliances></app-appliances>
  </div>
</div> -->
<div class="container">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let item of data">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{item.type}}
        </mat-panel-title>
        <!-- <mat-panel-description>
            {{item.simName}}
        </mat-panel-description> -->
      </mat-expansion-panel-header>

      <h3>HouseHold Availabilities</h3>
      <div class="grid-container">
        <div *ngFor="let availability of item.availabilities">
          <app-activities [activities]=availability.activities></app-activities>
        </div>
      </div>
      <mat-divider></mat-divider>
      <app-appliances [appliances]=item.appliances></app-appliances>
      <mat-divider></mat-divider>
      <app-load-curve [resultLoadCurve]=item.resultLoadCurve></app-load-curve>
    </mat-expansion-panel>
  </mat-accordion>
</div>
